body {
	background: GhostWhite;
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 15px 15px;
	padding: 10px 10px;
}

table {
    background: GhostWhite;
    color: #000;
    font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border-spacing: 1;
}

span.error {
    color: red;
    font: bold normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h2 {
    color: RoyalBlue;
    font: bold normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0;
}

h3 {
	font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #008000;
	margin: 0 0 15px 0;
}




