<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <mvc:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="com.sam.quest.web.controller.autowired" />
    <context:component-scan base-package="com.sam.quest.web.validator" />
    <import resource="classpath:/logicApplicationContext.xml" />
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="WEB-INF/messages/config.properties" />
    </bean>

    <bean id="typeList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>${question.type1}</value>
                <value>${question.type2}</value>
                <value>${question.type3}</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="addQuestionController" class="com.sam.quest.web.controller.QuestionController">
        <property name="typeList" ref="typeList"/>
    </bean>

    <bean id="formsListController" class="com.sam.quest.web.controller.FormsListController">
        <property name="typeList" ref="typeList"/>
    </bean>

</beans>